@charset "UTF-8";

@import  url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

@font-face {
    font-family: 'android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
} 

* {
    line-height: 2.0em;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01:#c5ebd6;
    --cor02:#83E1AD;
    --cor03:#3DDC84;
    --cor04:#2FA866;
    --cor05:#1A5C37;
    --cor06:#063d1e;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursiva;
    --fonte-android: 'android', cursiva;

}

body {
    background-color: #77ddc0;
    width: 100%;
    height: auto;
}

a.external::after {
    content: '\00A0\1F4CE';
}

header {
    width: 100%;
    min-height: 150px;
    text-align: center;
    background-image:linear-gradient(0deg, var(--cor06), var(--cor04));
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
    font-family: var(--fonte-destaque);
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

header > p {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
}

strong {
    color: var(--cor05);
    font-family: var(--fonte-android);

}

p > a {
    background-color: var(--cor02);
    color: var(--cor05);
    font-weight: bold;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav {
    background-color: var(--cor06);
    padding: 10px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor02);
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    transition-duration: 0.1;
}



main {
    background-color: white;
    max-width: 800px;
    min-width: 320px;
    margin: 0px auto 10px auto;
}

main h1 {
    color:var(--cor05);
    font-family:var(--fonte-android);
    text-align: justify;
    margin-left: 10px;
}

main p {
    color: black;
    margin:auto;
    padding: 10px;
    text-align: justify;
    text-indent: 30px;
}

main h2 {
    background-image: linear-gradient(90deg, var(--cor03), transparent);
    font-family: var(--fonte-android);
    color:var(--cor06);
    max-width: 800px;
    min-width: 320px;
    padding-left: 10px;
}

img {
    width: 100%;
    height: auto;
}

img img-pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

img#mulher {
    width:100%;
    height: auto;
    
}

div.video {
    position: relative;
    background-color: var(--cor05);
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor01);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

aside > h3 {
    background-color: var(--cor05);
    padding-left: 10px;
    color: white;
    font-family: var(--fonte-padrao);
    border-radius: 10px 10px 0px 0px;
}

aside > ul#lista {
    list-style-type:'\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    padding: 10px;
}

footer > p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 10px;
}

